# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
desktop.ini
backend-js/uploads/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Zencoder specific files
CLAUDE.md
ZENCODER.md
.zencoder
.zencoder/


# Ignore saved file
backend-js/src/fileSaved/**

